mat-card {
  height: 150px;
  text-align: center;
  padding: 0;
}

h1 {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.number-container {
  background-color: rgb(24, 46, 123);
  color: white;
  text-align: center;
}
