<div class="main-container">
  <div class="row page-section">
    <div class="col-md-6">
      <app-scans></app-scans>
    </div>
    <div class="col-md-6">
      <app-preferences></app-preferences>
    </div>
  </div>
  <div class="row page-section">
    <div class="col-md-3">
      <app-user-preffered-data></app-user-preffered-data>
    </div>
    <div class="col-md-3">
      <app-user-preffered-data></app-user-preffered-data>
    </div>
    <div class="col-md-3">
      <app-user-preffered-data></app-user-preffered-data>
    </div>
    <div class="col-md-3">
      <app-user-preffered-data></app-user-preffered-data>
    </div>
  </div>
</div>
